.blind-big-button-gap {
  height: 170px;
}

.blind-big-button {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #d7d7d7 66.5%);
  position: fixed;
  width: 100vw;
  height: 155px;
  left: 0px;
  bottom: 0px;
}

.blind-big-button .big-button {
  position: fixed;
  bottom: 19px;
  left: 35px;
  width: calc(100vw - 70px);
  pointer-events: auto;
  font-size: var(--text-size-button-large);
  font-weight: 500;
  height: 47px;
  border-radius: var(--round-size-large);
  background-color: var(--color-primary);
  color: var(--color-neutral-100);
  border: none;
  cursor: pointer;
  box-sizing: border-box;
}

.blind-big-button .big-button:disabled {
  background-color: var(--color-neutral-60);
  color: var(--color-neutral-100);
  cursor: not-allowed;
}
