.sign-in-container {
  width: 100%;
  height: 100svh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  transform: translateY(-6svh);
  box-sizing: border-box;
  padding: 0 35px;
}

.sign-in-container .sub-title-container {
  margin: 15px 0;
}

.sign-in-container .id-input-container,
.sign-in-container .pw-input-container {
  margin-bottom: 8px;
}

.sign-in-container .sign-in-btn-container,
.sign-in-container .sign-up-btn-container {
  margin: 10px 0;
}
