.check-button {
  font-size: var(--text-size-body-small);
  font-weight: 500;
  height: 45px;
  width: 91px;
  border-radius: var(--round-size-medium);
  background-color: var(--color-secondary-blue-1);
  color: var(--color-secondary-blue-3);
  border: var(--color-secondary-blue-2) 1px solid;
  cursor: pointer;
  box-sizing: border-box;
}
